
// ===================reseets========================
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// =========================================

// ==============fonts======================

$bold:"Gilroy-Bold";
$regular:"Gilroy-Regular";
$light: "Gilroy-light";
$thin: "Panton-thin";
$medium: "Gilroy-medium";
$semibold: "Gilroy-Semibold";
$Extrabold: "Gilroy-Extrabold";
$LightItalic: "Gilroy-LightItalic";

// =================end=====================

$bg_color:#27226B;
$color-main: #0493A3;

// =========================================        

@mixin font-type($font-name){
	@if ($font-name == paragraph) {
		font-family: $medium;
		font-size: 15px;
		line-height: 1.4;
		color:$bg_color;
		
	}@else if($font-name == heading){
		font-family: $semibold;
		font-size: 24px;
		color:$color-main;
		
	}
	
}

@mixin btn {
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    font-size: 15px;
    font-family: $regular;
    text-decoration: none;
    color: white;
}

// =========mixins==============

// header
header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 12vh;
	padding: 0px 20px;
	box-sizing: border-box;
	z-index: 5;
	overflow-x: hidden;

	ul{
			
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		animation: ul .3s ease-in-out .2s;
		li{
			padding: 20px 0px;
			margin: 10px 0px;
			a{
				font-size: 22px;
				color: white;
				text-decoration: none;
				font-family:$light;

			}
		}
		.second{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.Contact{
				font-size:16px;
				padding: 0px 10px;
			}
		}
	}


	img{
		width: 30%;
	}

	.menu{
		width: 18%;
		cursor: pointer;
		position: relative;
		.line{
			background-color: white;
			width: 100%;
			height: 6px;
			border-radius: 5px;
			transition: all .3s ease-in-out;
			border-radius: 10px;
			&::before{
				content: "";
				background-color: rgb(255, 255, 255);
				width: 100%;
				height: 6px;
				position: absolute;
				transform: translateY(-16px);
				border-radius: 5px;
				transition: all .3s ease-in-out;
				border-radius: 10px;
			}

			&::after{
				content: "";
				background-color: rgb(255, 255, 255);
				width: 100%;
				height: 6px;
				position: absolute;
				transform: translateY(16px);
				border-radius: 5px;
				transition: all .3s ease-in-out;
				border-radius: 10px;
			}
		}

		&.line-open{
			.line{
                background-color:transparent;
                &::before{
                    transform: rotate(45deg);
                }

                &::after{
                    transform: rotate(-45deg);
                }
            }
		}
	}

	&.open{
		height: 100vh;
		width: 100%;
		background-color: rgb(49, 49, 49);
		padding: 0;
		margin: 0;
		z-index: 5;
		ul{
			
			display: flex;
		}
		.menu{
			width: 14%;
			position:absolute;
			top: 7%;
			right: 4%;
		}
		img{
			position:absolute;
			top: 3%;
			left: 5%;
		}

	}
}
// end here

// banner
.banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 0px 0px;
	overflow-x: hidden;
	.right{
		top: -32px;
		left: -2px;
		width: 52%;
		position: absolute;
		z-index: 0;
	}
	.left{
		z-index: 0;
		top: -7px;
		right: -3px;
		width: 46%;
		position: absolute;
	}

	.banner-text{
		text-align: center;
		margin: 21px 0px 10px;
		h1{
			font-family: $regular;
			font-size: 30px;
			line-height: 1.2;
		}

		p{
			font-family: $semibold;
			font-size: 14px;
			margin: 15px 5px 35px;
			line-height: 1.4;
		}

		a{
			@include btn;
			background-color: #0493A3;

		}	
	}

	.banner-img{
		margin: 30px 0px;
		padding: 0px 10px;
		img{
			width: 100%;
		}
	}
}
// end here

// About
.about{
	display: flex;
	flex-direction: column;
	padding: 27px 0px;
	margin: 0px 0px 25px;
	position: relative;
	.line{
		width: 100%;
		height: 22%;
		position: absolute;
		top: -40px;
		z-index: -1;
	}
	.about-text{
		margin: 20px 0px;
		padding: 0px 10px;
		text-align: center;
		h2{
			text-align: center;
			@include font-type(heading);
		}

		p{
			@include font-type(paragraph);
			margin: 20px 0px 30px;
		}
		a{
			@include btn;
			background-color: $bg_color;

		}	
	}

	.about-img{
		margin: 30px 0px 0px;
		padding: 0px 10px;
		position: relative;
		.ab-img{
			width:100%;
			border-radius: 5px;
			position: relative;
			z-index: 1;
		}

		.ring{
			position: absolute;
			position: absolute;
			left: 0;
			width: 100%;
			z-index: 0;
			top: -18px;

		}
	}
}
// end here


//Education
.Education{
	margin: 20px 0px;
	padding: 20px 0px 30px;
	background: url(../img/education.png);
	background-position: center;
	h2{
		text-align: center;
		@include font-type(heading);
		margin: 30px 0px;
	}

	.tab{
		display: flex;
		flex-direction: column;


		.tab-button{
			display: flex;
			justify-content: space-evenly;
			margin: 0px 0px 20px;
			.tablink {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border: none;
				outline: none;
				cursor: pointer;
				font-family: $Extrabold;
				font-size: 16px;
				width: 30%;
				background-color: transparent;
				opacity: .5;

				i{
					font-size: 22px;
					display: block;
				}
				.down{
					transform: rotate(90deg);
				}

				h3{
					margin: 10px 0px ;
				}

				&:nth-child(2){
					h3{
						margin: 20px 0px;
					}
				}
			  }
			  
			  .tablink:focus{
				opacity: 1;
				color: $color-main;
			  }

			  .tablink:active{
				background-color: white;
			  }
			  
		}

		.tab-contant{
			padding: 0px 5px;
			.tabcontent {
				display: none;
				padding: 10px;
				text-align: center;
				border-top: 4px solid $bg_color;
				p{
					@include font-type(paragraph);
					margin: 15px 0px 30px;
				}

				a{
					@include btn;
					border-radius: 0px;
					background-color: $bg_color;
				}
			}
			
		}

		  
		//   #London {
		// 	  background-color:red;
		// 	}
		//   #Paris {background-color:green;}
		//   #Tokyo {background-color:blue;}
	}
	


}
// end here


// Our-Warm-Line
.Our-Warm-Line{
	display: flex;
	flex-direction: column;
	padding: 27px 0px;
	margin: 0px 0px 25px;
	.Our-Warm-text{
		margin: 20px 0px;
		padding: 0px 10px;
		text-align: center;
		h2{
			text-align: center;
			@include font-type(heading);
		}

		p{
			@include font-type(paragraph);
			margin: 20px 0px 30px;
		}
		a{
			@include btn;
			background-color: $bg_color;

		}	
	}

	.Our-Warm-Line-img{
		margin: 30px 0px 0px;
		padding: 0px 10px;
		position: relative;
		.ab-img{
			width:100%;
			border-radius: 5px;
			position: relative;
			z-index: 1;
		}

		.ring{
			position: absolute;
			position: absolute;
			left: 0;
			width: 100%;
			z-index: 0;
			top: -18px;

		}
	}

}
// end here

// COVID
.COVID{
	padding: 27px 0px;
	margin: 0px 0px 52px;

	.ring-two{
		display: none;
	}
	
	.COVID-con{
		background-color: $bg_color;
		margin: 0px 10px;
		padding: 10px 0px 30px;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
	.COVID-text{
		margin: 20px 0px;
		padding: 0px 10px;
		text-align: center;
		h2{
			text-align: center;
			@include font-type(heading);
			color: white
		}

		p{
			@include font-type(paragraph);
			margin: 20px 0px 30px;
			color: white
		}
		a{
			@include btn;
			background-color: transparent;
			border: 2px solid white;
			border-radius: 0px;
		}	
	}

	.COVID-img{
		margin: 30px 0px 0px;
		padding: 0px 10px;
		position: relative;
		.covid-img{
			width:100%;
			border-radius: 5px;
			position: relative;
			z-index: 1;
		}

		}
	}
}
// end here

//Fundraising
.Fundraising{
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	.fund-img{
		margin: 20px 0px;
		width:95%;
		height: 45%;
		margin: 0 auto;
		img{
			width: 100%;
			border-radius: 5px;
		}
		.first{
			height: 40vh;
			width: 100%;
		}
	}

	#fund-box{
		position: relative;
		box-sizing: border-box;
		border-radius: 5px;
		margin: 20px auto;
		width:95%;


		.overlay{
			border-radius: 5px;
			position: absolute;
			display: flex;
			flex-direction:column;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			width: 100%;
			height: 98%;
			background-color: rgba(0, 0, 0, 0.44);
			.middle{
				width: 100%;
			}

			h2{
				@include font-type(heading);
				color: white;
				text-decoration: underline
			}

			p{
				@include font-type(paragraph);
				text-align: center;
				color: white;
				margin: 20px 0px;
				padding: 0px 5px;
			}
	
			a{
				@include btn;
				border-radius: 0px;
				background-color: $color-main;
				color: white;
			}


	
		}

	}

	#third{
		height: 40vh;
		.third-img{
			height: 100%;
			object-fit: cover;
		}
	}



}
// end here

//Join-Our-Team
.Join-Our-Team{
	padding: 20px 0px;
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	color: white;

	.join-text{
		margin: 0px 10px;
		border-radius: 10px;
		text-align: center;
		.join-box{
			background-color:$color-main;
			border-radius: 10px;
			margin: 20px 0px;
			padding: 40px 30px;
			h2{
				@include font-type(heading);
				color: white
			}
			p{
				@include font-type(paragraph);
				margin: 10px 0px 20px;
				color: white
			}
			
			a{
				@include btn;
				background-color: transparent;
				border: 2px solid white;
				border-radius: 0px;
				color: white;
			}
			
		}

		#box-two{
			background-color: $bg_color;
			border-radius: 10px;
		}
	}

	.Advocate{
		display: flex;
		flex-direction: column;
		margin: 0px 10px;
		.Adcovate-text{
			outline: 3px solid rgb(255, 255, 255);
			outline-offset: -15px;
			text-align: center;
			background-color:$bg_color;
			border-radius: 10px;
			border: 2px solid white;
			margin: 10px 0px;
			padding: 50px 30px;;
			h2{
				@include font-type(heading);
				color: white
			}
			p{
				@include font-type(paragraph);
				margin: 10px 0px 20px;
				color: white
			}
			
			a{
				@include btn;
				background-color: transparent;
				border: 2px solid white;
				border-radius: 0px;
				color: white;
			}
			img{
				width: 100%;
			}
		}

		#advocate-img{
			padding: 0;
			background-color: transparent;
			outline: none;

		}

		#Volunteer{
			background-color: $color-main;
		}

	}
}
//end here

// footer
footer{
	text-align: center;
	background-color: #efefef;
	padding: 40px 0px 0px;
	h2{
		@include font-type(heading);
		margin:20px 0px 0px;
	} 

	form{
		padding: 20px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.email{
			padding: 17px  20px  17px 20px;
			margin: 20px 0px;
			width: 80%;
			font-family:$LightItalic;
			outline: none;
			border: none;
			font-size: 16px;
			&::placeholder{
				text-align: center;
			}	
		}

		#button{
			width: 93%;
			padding: 13px 0px;
			font-family: $regular;
			text-transform: uppercase;
			font-size: 18px;
			background-color: $bg_color;
			color: white;
			outline: none;
			border: none;
		}
	}

	.foot{
		color: $bg_color;
		ul{
			margin: 40px 0px;
			h3{
				font-family: $Extrabold;
				font-size: 24px;
			}
			li{
				margin: 15px 0px;
				a{
					text-decoration: none;
					font-family: $regular;
					font-size: 18px;
				}
			}
		}
	}
	
}
// end here


//============== ipad ==================
@media (min-width: 768px){
	// header
	header{
		height: 10vh;
		img{
			width: 20%;
		}

		ul{
			li{
				a{
					font-size: 40px;
				}
			}
		}

		.menu{
			width: 9%;
			.line{
				height: 8px;
				&::before{
					height: 8px;
				}

				&::after{
					height: 8px;
				}
			}
		}

		&.open{
			.menu{
				width: 9%;
			}
		}
	}
	// end here

	// banner
	.banner{
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		padding: 90px 0px 0px;
		overflow: unset;
		.right{
			z-index: -1;
			top: -33px;
			left: -71px;
			width: 60%;
		}
		.left{
			z-index: -1;
		}

		.banner-text{
			width: 30%;
			text-align: left;
			box-sizing: border-box;
			padding: 0;
			h1{
				color: white;
				margin: 0px 0px 30px;
				font-size: 42px;
			}
			p{
				margin: 0px 0px 35px;
				font-size: 18px;
			}

			a{
				font-size: 18px;
				padding: 0.5rem 1em;
			}
		}

		.banner-img{
			width: 60%;
			margin: 0;
			padding: 0;
			position: relative;
			z-index: 3;
			img{
				object-fit: cover;
			}
		}
	}
	// end here

	// about
	.about{
		flex-direction: row-reverse;
		justify-content: space-evenly;
		align-items: center;
		overflow: unset;
		margin: 40px 0px;
		.line{
   		    height: 53%;
			top: -83px;
		}
		
		.about-text{
			width: 45%;
			margin: 0;
			text-align: left;
			h2{
				font-size: 25px;
				text-align: left;
			}
			a{
				font-size: 16px;
				padding: 0.5rem 1rem;
			}
			p{
				font-size: 14px;
				margin: 10px 0px 20px;
			}

		}

		.about-img{
			width: 40%;
		}

	}
	// end here

	// education
	.Education{
		background-color: none;
		background: url('../img/education.png');
		background-size: cover;
		padding: 50px 0px;
		h2{
			font-size: 25px;
		}

		.tab{
			flex-direction: row;
			justify-content: center;
			.tab-button{
				width: 30%;
				flex-direction:column;
				.tablink{
					flex-direction: row;
					justify-content:space-between;
					width: 100%;
					font-size: 18px;
					i{
						display: inline;
					}
					h3{
						margin: 0;
						i{
							margin: 0 10px 0px 0px;
						}
					}
					&:nth-child(2){
						h3{
							margin: 0;
							i{
								margin: 0 20px 0px 0px;
							}
						}
					}

					.down{
						transform: rotate(0deg);
					}
				}
			}

			.tab-contant{
				width: 60%;
				.tabcontent{
					padding: 0px 0px 0px 40px;
					border-top: none;
					border-left: 4px solid $bg_color;
					text-align: left;
					p{
						font-size: 14px;
					}

					a{
						font-size: 16px;
						padding: 0.5rem 1rem;
					}
				}
			}
		}
	}
	// end here

	// .Our-Warm-Line
	.Our-Warm-Line{
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		.Our-Warm-text{
			width: 40%;
			text-align: left;
			margin: 0;
			padding: 0;
			h2{
				text-align: left;
				font-size: 25px;
			}
			p{
				font-size: 14px;
				margin: 10px 0px 30px;
			}
			a{
				font-size: 16px;
				padding: 0.5rem 1rem;	
			}
		}

		.Our-Warm-Line-img{
			width: 45%;
		}



	}
	// end here

	// COVID
	.COVID{
		position: relative;
		.ring-two{
			display: block;
			position: absolute;
			left: 20%;
			top: -15px;
			width: 60%;
			z-index: -1;
		}
		.COVID-con{
			flex-direction: row-reverse;
			justify-content: space-evenly;
			align-items: center;
			border-radius: 10px;
			width: 90%;
			margin: 0px auto;
			.COVID-img{
				width: 45%;

			}

			.COVID-text{
				margin: 0px;
				padding: 0;
				text-align: left;
				width: 45%;
				h2{
					font-size: 18px;
					width: 70%;
					text-align: left;
				}
				p{
					font-size: 14px;
					margin: 15px 0px 30px;
				}

				a{
					padding: 0.7rem 1.5rem;
					font-size: 18px;	
				}
			}
		}
	}
	// end here

	//Fundraising
	.Fundraising{
		.fund-img{
			width: 27%;
			height: 40vh;
			box-sizing: border-box;
			margin: 10px 0px 0px;
			.first{
				height: 25vh;
				width: 100%;
			}
		}

		#fund-box{
			width: 40%;
			img{
				width: 100%;
				height: 100%;
				object-fit: fill;
			}
			.overlay{
				height: 100%;
				justify-content: flex-end;
				padding: 0px 0px 30px;
				box-sizing: border-box;
				h2{
					font-size: 30px;
				}

				p{
					font-size: 14px;
				}

				a{
					font-size: 18px;
				}
			}
		}

		#third{
			width: 27%;
			display: flex;
			align-items: center;
			justify-content: center;
			.third-img{
				height: 80%;
			}
		}

		#first{
			margin: 45px 0px 0px;
			height: 35vh;
			.first{
				height:60%;
			}
		}
	}
	// end here	

	// Join-Our-Team
	.Join-Our-Team{
		.join-text{
			display: flex;
			justify-content: space-evenly;
			text-align: left;
			.join-box{
				width: 40%;
				h2{
					font-size: 25px;
				}
				p{
					font-size: 16px;
					margin: 10px 0px 25px;

				}
				a{
					font-size: 18px;
				}
			}

			#box-two{
				text-align: right;
				p{
					margin: 10px 0px 35px;
				}
				
			}
		}

		.Advocate{
			flex-direction: row;
			justify-content: space-between;
			.Adcovate-text{
				width: 27%;
				img{
					width: 100%;
					height: 100%;
					object-fit: fill;
				}
			}
		}


	}
	// end here

	// footer
	footer{
		background-color: transparent;
		background: url(../img/footer.png);
		h2{
			font-size: 28px;
			margin: 20px 0px;
		}
		form{
			flex-direction: row;
			justify-content: center;
			margin: 20px 0px;
			.email{
				width: 50%;
				font-size:25px ;
				margin: 0 20px;
				&::placeholder{
					text-align: left;
				}
			}
			#button{
				width: 20%;
				padding: 17px  20px  17px 20px;
				font-size: 22px;
			}
		}

		.foot{
			display: flex;
			justify-content: center;
			margin: 0;
			ul{
				width: 30%;
				text-align: left;
				margin: 0px;
				h3{
					font-size: 25px;
				}
				li{
					margin: 10px 0px;
					a{
						font-size: 16px;
					}
				}
				.warm{
					width: 70%;
				}
			}
		}
	}
	// end here

}

// =============end here================


// ============laptop===================
@media (min-width: 1200px) {
	// header
	header{
		align-items: center;
		height: 13vh;
		padding: 0px 30px;
		.menu{
			display: none;
		}

		img{
			width: 13%;
		}


		ul{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			height: 100%;
			width: 45%;
			li{
				width: 24%;
				margin: 0;
				padding: 0;
				text-align: center;
				a{
					font-size: 18px;
				}
			}
		}
	}
	// end here

	// banner
	.banner{
		align-items: flex-start;
		.right{
			width: 51%;
			top: -62px;
			left: -29px;
		}

		.left{
			width: 50%;
			top: -51px;
			right: -32px;

		}

		.banner-text{
			h1{
				font-size: 66px;
				margin: 0px 0px 40px;
			}
			p{
				font-size: 18px;
			}

			a{
				font-size: 23px;
			}
		}
	}
	// end here

	// about
	.about{
		padding: 100px 0px;
		.about-text{
			h2{
				font-size: 45px;
			}
			a{
				font-size: 23px;
			}
			p{
				font-size: 21px;
				margin: 15px 0px 40px;
			}
		}

	}
	// end here


	// Education
	.Education{
		position: relative;
		padding: 100px 0px;
		h2{
			font-size: 45px;
		}
		.educate{
			display: block;
			position: absolute;
			bottom: -40px;
			right: -162px;
			width: 30%;
		}
		.tab{
			padding: 40px 0px;
			.tab-button{
				justify-content: center;
				padding: 0px 20px;
				i{
					font-size: 22px;
				}
				.tablink{
					font-size: 22px;
					margin: 0px 0px 20px;

					&:hover{
						color: $color-main;
					}
				}
			}

			.tab-contant{
				padding: 20px 0px;
				border-left: 4px solid $bg_color;
				.tabcontent{
					border-left: transparent;
					p{
						font-size: 22px;
					}
					a{
						font-size: 23px;
					}
				}
			}
		}


	}
	// end here

	// .Our-Warm-Line
	.Our-Warm-Line{
		padding: 40px 0px 60px;
		margin: 40px 0px;
		.Our-Warm-text{
			h2{
				font-size: 45px;
			}
			a{
				font-size: 24px;
				padding: 0.5rem 6rem;
				border-radius: 0px;
			}
			p{
				font-size: 20px;
				margin: 15px 0px 40px;
			}
		}
	}
	// end here

	// COVID
	.COVID{
		margin: 100px 0px;
		.ring-two{
			top: -70px;
		}
		.COVID-con{
			.COVID-text{
				h2{
					font-size: 26px;
					width: 65%
				}
				a{
					font-size: 24px;
					padding: 0.5rem 4rem;
					border-radius: 0px;
				}
				p{
					font-size: 20px;
					margin: 15px 0px 40px;
				}
			}
		}
	}
	// end here

	//Fundraising
	.Fundraising{
		margin: 100px 0px;
		.fund-img{
			height: unset;
			.first{
				height: 100%;
			}
		}

		#fund-box{
			img{
				object-fit: fiil;
				border-radius: 10px;
			}
			.overlay{
				padding: 0px 15px 30px;
				h2{
					font-size: 45px;
				}
				p{
					font-size: 23px;
				}

				a{
					font-size: 23px;
				}
			}
		}

		#third{
			height: unset;
		}

		#first{
			margin: 55px 0px 0px;
			height: unset;
			.first{
			    height: 55%;
    			width: 100%;
			}
		}
	}
	// end here	

	// .Join-Our-Team
	.Join-Our-Team{
		background-color: rgb(104, 104, 6);
		margin: 40px 30px;
		.join-text{
			background-color: rgb(85, 0, 255);
		}

		.Advocate{
			margin: 20px 0px;
			align-items: center;
			.Adcovate-text{
				border: none;
				width: 28%;
				padding: 50px 20px;
				p{
					font-size: 20px;
					margin: 20px 0px 40px;
				}
				h2{
					font-size: 34px;
				}
				a{
					font-size: 23px;
				}
			}

			
			#advocate-img{
				width: 30%;
				background-color: yellow;
			}
		}



	}
	// end here


	//footer
	footer{
		position: relative;
		.mail{
			position: absolute;
			top: 64px;
			left: 20px;
			width: 8%;
		}

		.alian{
			position: absolute;
			bottom: 13px;
			left: 73px;
			width: 8%;		
		}

		.brian{
			position: absolute;
			right: 12px;
			top: 66px;
			width: 9%;
		}
		padding: 20px 0px;
		h2{
			font-size: 45px;
			margin: 50px 0px 20px;
		}

		form{
			.email{
				width: 40%;
				padding: 14px 20px 14px 20px;
				font-size: 19px;
			}
			#button{
				width: 13%;
				padding: 10px 20px 10px 20px;
				font-size: 26px;
			}
		}

		.foot{
			justify-content: flex-end;
			margin: 30px 0px 0px;
			ul{
				width: 26%;
				h2{
					font-size: 22px;
				}
				li{
					a{
						font-size: 22px;
					}
				}
			}
		}
	}
	// end here

}


// ==============end here================

