
// ===================reseets========================
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// =========================================

// ==============fonts======================

$bold:"Gilroy-Bold";
$regular:"Gilroy-Regular";
$light: "Gilroy-light";
$thin: "Panton-thin";
$medium: "Gilroy-medium";
$semibold: "Gilroy-Semibold";
$Extrabold: "Gilroy-Extrabold";
$LightItalic: "Gilroy-LightItalic";

// =================end=====================

$bg_color:#27226B;
$color-main: #0493A3;

// =========================================        

@mixin font-type($font-name){
	@if ($font-name == paragraph) {
		font-family: $medium;
		font-size: 15px;
		line-height: 1.4;
		color:$color-main;
	}@else if($font-name == heading){
		font-family: $semibold;
		font-size: 24px;
		color:$bg_color;
	}
	
}

@mixin btn {
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    font-size: 15px;
    font-family: $regular;
    text-decoration: none;
    color: white;
}

// =========mixins==============

// header
header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 12vh;
	padding: 0px 20px;
	box-sizing: border-box;
	z-index: 5;

	ul{
			
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		animation: ul .3s ease-in-out .2s;
		li{
			padding: 20px 0px;
			margin: 10px 0px;
			a{
				font-size: 22px;
				color: white;
				text-decoration: none;
				font-family:$light;

			}
		}
		.second{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.Contact{
				font-size:16px;
				padding: 0px 10px;
			}
		}
	}


	img{
		width: 30%;
	}

	.menu{
		width: 18%;
		cursor: pointer;
		position: relative;
		.line{
			background-color: white;
			width: 100%;
			height: 6px;
			border-radius: 5px;
			transition: all .3s ease-in-out;
			&::before{
				content: "";
				background-color: rgb(255, 255, 255);
				width: 100%;
				height: 6px;
				position: absolute;
				transform: translateY(-16px);
				border-radius: 5px;
				transition: all .3s ease-in-out;
			}

			&::after{
				content: "";
				background-color: rgb(255, 255, 255);
				width: 100%;
				height: 6px;
				position: absolute;
				transform: translateY(16px);
				border-radius: 5px;
				transition: all .3s ease-in-out;
			}
		}

		&.line-open{
			.line{
                background-color:transparent;
                &::before{
                    transform: rotate(45deg);
                }

                &::after{
                    transform: rotate(-45deg);
                }
            }
		}
	}

	&.open{
		height: 100vh;
		width: 100%;
		background-color: rgb(49, 49, 49);
		padding: 0;
		margin: 0;
		z-index: 5;
		ul{
			
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
			height: 100%;
			animation: ul .3s ease-in-out .2s;
			li{
				padding: 20px 0px;
				margin: 10px 0px;
				a{
					font-size: 22px;
					color: white;
					text-decoration: none;
					font-family:$light;

				}
			}
			.second{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.Contact{
					font-size:16px;
					padding: 0px 10px;
				}
			}
		}
		.menu{
			width: 14%;
			position:absolute;
			top: 7%;
			right: 4%;
		}
		img{
			position:absolute;
			top: 3%;
			left: 5%;
		}

		@keyframes ul {
			0%{
				height: 0%;
			}

			100%{
				height: 100%;
			}
		}
	}
}
// end here

// banner
.banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 75px 0px 0px;
	.right{
		top: -32px;
		left: -2px;
		width: 52%;
		position: absolute;
		z-index: 0;
	}
	.left{
		z-index: 0;
		top: -7px;
		right: -3px;
		width: 46%;
		position: absolute;
	}

	.banner-text{
		text-align: center;
		margin: 21px 0px 10px;
		h1{
			font-family: $regular;
			font-size: 30px;
			line-height: 1.2;
		}

		p{
			font-family: $semibold;
			font-size: 14px;
			margin: 5px 5px 35px;
			line-height: 1.4;
		}

		a{
			@include btn;
			background-color: #0493A3;

		}	
	}

	.banner-img{
		margin: 30px 0px;
		padding: 0px 10px;
		img{
			width: 100%;
		}
	}
}
// end here

// About
.about{
	display: flex;
	flex-direction: column;
	padding: 27px 0px;
	margin: 0px 0px 25px;
	position: relative;
	.line{
		width: 100%;
		height: 22%;
		position: absolute;
		top: -40px;
		z-index: -1;
	}
	.about-text{
		margin: 20px 0px;
		padding: 0px 10px;
		text-align: center;
		h2{
			text-align: center;
			@include font-type(heading);
		}

		p{
			@include font-type(paragraph);
			margin: 20px 0px 30px;
		}
		a{
			@include btn;
			background-color: $bg_color;

		}	
	}

	.about-img{
		margin: 30px 0px 0px;
		padding: 0px 10px;
		position: relative;
		.ab-img{
			width:100%;
			border-radius: 5px;
			position: relative;
			z-index: 1;
		}

		.ring{
			position: absolute;
			position: absolute;
			left: 0;
			width: 100%;
			z-index: 0;
			top: -18px;

		}
	}
}
// end here


//Education
.Education{
	margin: 20px 0px;
	padding: 20px 0px 30px;
	background: url(../img/education.png);
	background-position: center;
	h2{
		text-align: center;
		@include font-type(heading);
		margin: 30px 0px;
	}

	.tab{
		display: flex;
		flex-direction: column;


		.tab-button{
			display: flex;
			justify-content: space-evenly;
			margin: 0px 0px 20px;
			.tablink {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border: none;
				outline: none;
				cursor: pointer;
				font-family: $Extrabold;
				font-size: 16px;
				width: 30%;
				background-color: transparent;
				opacity: .5;

				i{
					font-size: 22px;
				}
				h3{
					margin: 10px 0px ;
				}

				&:nth-child(2){
					h3{
						margin: 20px 0px;
					}
				}
			  }
			  
			  .tablink:focus{
				opacity: 1;
				color: $color-main;
			  }

			  .tablink:active{
				background-color: white;
			  }
			  
		}

		.tab-contant{
			padding: 0px 5px;
			.tabcontent {
				display: none;
				padding: 10px;
				text-align: center;
				border-top: 4px solid $bg_color;
				p{
					@include font-type(paragraph);
					margin: 15px 0px 30px;
				}

				a{
					@include btn;
					border-radius: 0px;
					background-color: $bg_color;
				}
			}
			
		}

		  
		//   #London {
		// 	  background-color:red;
		// 	}
		//   #Paris {background-color:green;}
		//   #Tokyo {background-color:blue;}
	}
	


}
// end here


// Our-Warm-Line
.Our-Warm-Line{
	display: flex;
	flex-direction: column;
	padding: 27px 0px;
	margin: 0px 0px 25px;
	.Our-Warm-text{
		margin: 20px 0px;
		padding: 0px 10px;
		text-align: center;
		h2{
			text-align: center;
			@include font-type(heading);
		}

		p{
			@include font-type(paragraph);
			margin: 20px 0px 30px;
		}
		a{
			@include btn;
			background-color: $bg_color;

		}	
	}

	.Our-Warm-Line-img{
		margin: 30px 0px 0px;
		padding: 0px 10px;
		position: relative;
		.ab-img{
			width:100%;
			border-radius: 5px;
			position: relative;
			z-index: 1;
		}

		.ring{
			position: absolute;
			position: absolute;
			left: 0;
			width: 100%;
			z-index: 0;
			top: -18px;

		}
	}

}
// end here

// COVID
.COVID{
	padding: 27px 0px;
	margin: 0px 0px 52px;
	
	.COVID-con{
		background-color: $bg_color;
		margin: 0px 10px;
		padding: 10px 0px 30px;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
	.COVID-text{
		margin: 20px 0px;
		padding: 0px 10px;
		text-align: center;
		h2{
			text-align: center;
			@include font-type(heading);
			color: white
		}

		p{
			@include font-type(paragraph);
			margin: 20px 0px 30px;
			color: white
		}
		a{
			@include btn;
			background-color: transparent;
			border: 2px solid white;
			border-radius: 0px;
		}	
	}

	.COVID-img{
		margin: 30px 0px 0px;
		padding: 0px 10px;
		position: relative;
		.covid-img{
			width:100%;
			border-radius: 5px;
			position: relative;
			z-index: 1;
		}

		}
	}
}
// end here

//Fundraising
.Fundraising{
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	.fund-img{
		margin: 20px 0px;
		width:95%;
		height: 45%;
		margin: 0 auto;
		img{
			width: 100%;
			border-radius: 5px;
		}
		.first{
			height: 40vh;
			width: 100%;
		}
	}

	#fund-box{
		position: relative;
		box-sizing: border-box;
		border-radius: 5px;
		margin: 20px auto;
		width:95%;


		.overlay{
			border-radius: 5px;
			position: absolute;
			display: flex;
			flex-direction:column;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			width: 100%;
			height: 98%;
			background-color: rgba(0, 0, 0, 0.44);
			.middle{
				width: 100%;
			}

			h2{
				@include font-type(heading);
				color: white;
			}

			p{
				@include font-type(paragraph);
				text-align: center;
				color: white;
				margin: 20px 0px;
				padding: 0px 5px;
			}
	
			a{
				@include btn;
				border-radius: 0px;
				background-color: $color-main;
				color: white;
			}
	
		}

	}

	#third{
		height: 40vh;
		.third-img{
			height: 100%;
			object-fit: cover;
		}
	}



}
// end here

//Join-Our-Team
.Join-Our-Team{
	padding: 20px 0px;
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	color: white;

	.join-text{
		margin: 0px 10px;
		border-radius: 10px;
		text-align: center;
		.join-box{
			background-color:$color-main;
			border-radius: 10px;
			margin: 20px 0px;
			padding: 40px 30px;
			h2{
				@include font-type(heading);
				color: white
			}
			p{
				@include font-type(paragraph);
				margin: 10px 0px 20px;
				color: white
			}
			
			a{
				@include btn;
				background-color: transparent;
				border: 2px solid white;
				border-radius: 0px;
				color: white;
			}
			
		}

		#box-two{
			background-color: $bg_color;
			border-radius: 10px;
		}
	}

	.Advocate{
		display: flex;
		flex-direction: column;
		margin: 0px 10px;
		.Adcovate-text{
			text-align: center;
			background-color:$bg_color;
			border-radius: 10px;
			border: 2px solid white;
			margin: 10px 0px;
			padding: 40px 30px;
			h2{
				@include font-type(heading);
				color: white
			}
			p{
				@include font-type(paragraph);
				margin: 10px 0px 20px;
				color: white
			}
			
			a{
				@include btn;
				background-color: transparent;
				border: 2px solid white;
				border-radius: 0px;
				color: white;
			}
			img{
				width: 100%;
			}
		}

		#advocate-img{
			padding: 0;
			background-color: transparent;
		}

		#Volunteer{
			background-color: $color-main;
		}

	}
}
//end here

// footer
footer{
	text-align: center;
	background-color: #efefef;
	padding: 40px 0px 0px;
	h2{
		@include font-type(heading);
		margin:20px 0px 0px;
	} 

	form{
		padding: 20px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.email{
			padding: 17px  20px  17px 20px;
			margin: 20px 0px;
			width: 80%;
			font-family:$LightItalic;
			outline: none;
			border: none;
			font-size: 16px;
			&::placeholder{
				text-align: center;
			}	
		}

		#button{
			width: 93%;
			padding: 13px 0px;
			font-family: $regular;
			text-transform: uppercase;
			font-size: 18px;
			background-color: $bg_color;
			color: white;
			outline: none;
			border: none;
		}
	}

	.foot{
		color: $bg_color;
		ul{
			margin: 40px 0px;
			h3{
				font-family: $Extrabold;
				font-size: 24px;
			}
			li{
				margin: 15px 0px;
				a{
					text-decoration: none;
					font-family: $regular;
					font-size: 18px;
				}
			}
		}
	}
	
}
// end here

